.backgroundImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.635);
    min-height: 100vh;
}

.tagline {
    opacity: 0.7;
}

.addButton {
    &:hover {
        transition: 300ms ease;
        opacity: 0.6;
        transform-origin: center center;
        transform: scale(1.1);
    }
}