@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: $dark;
    color: $light;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: block;
}

p {
    max-width: 60ch;
    opacity: 0.9;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.text-light {
    color: $light;
}